body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fbfbfb !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* for scroll bar */
.ScrollBar {
  padding-right: 2.0rem;
  height: 30.0rem;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1.0rem;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #204162;
  border-radius: 1.0rem;
}

.MuiAppBar-colorPrimary {
  background-color: #c2c5c8 !important;
}

.theme_text {
  color: #204162 !important;
}

.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

.btn_theme {
  border: 1px solid rgb(28, 60, 86) !important;
}

/* Tab buttons */

.MuiTab-textColorInherit {
  min-width: 80px !important;
}

.MuiTab-root {
  padding: 6px 6px !important;
}

a {
  text-decoration: none !important;
}

.MuiTab-textColorInherit.Mui-selected,
.activeClass {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
  color: rgb(19, 0, 97) !important;
}

.container {
  max-width: 100vw !important;
  padding: 0%;
}

.logo {
  width: 130px;
  height: 130px;
  display: flex;
  margin: 0px auto 0px auto
}

/* .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: blue;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  
  .dropdown-btn:hover
} */

.sidenav a:hover {
  color: green;
}

/* 
.dropdown-container {
  display: none;
  background-color: red;
  padding-left: 8px;
} */

/* @media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
} */

@media (max-width: 770px) {
  .makeStyles-drawerClose-9 {
    width: 0px !important
  }

  .makeStyles-left-28 {
    width: 100% !important;
  }
}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.themeContainer {
  background-color: #c2c5c8;
}

.innerStyle {
  background-color: #c2c5c8;
  padding: 5px;
}

.ag-full-width-row {
  overflow: scroll !important;
}

/* Loader */

.loader {
  margin-top: 8px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #c2c5c8;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border-bottom: 4px solid #204162;
  border-left: 4px solid transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.form-control {
  padding: 0.2rem 0.75rem !important;
}


/* .ag-header-cell-label {
height: 100%;
padding: 0 !important;
color: red !important;
} */

/* .animation{
  
} */